@font-face {
    font-family: greysfont;
    src: url(grain-condensed.ttf);
}

h1, h2, h3, h4, h5, h6, p {
    font-family: greysfont;
}

.container {
    text-align: center;
    width: 100%;
    height: 100%;
}

.color1 {
    color: #405574;
}

.color2 {
    color: #303D60;
}

.color3 {
    color: whitesmoke;
}

.color1-background {
    background-color: #405574;
}

.color2-background {
    background-color: #303D60;
}

.color3-background {
    background-color: whitesmoke;
}

